*{
   margin: 0px;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
}
@font-face {
   font-family: 'Sofia';
   font-display: swap;
   src: url('/src/fonts/Sofia.woff') format('woff');
   font-weight: 100;
   font-style: normal;
}
@media screen and (min-width: 340px) {
   .first-screen{
      background-image: url(/src/img/background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 30px;
      max-width: 320px;
      height: 568px;
   }
   .header{
      max-width: 320px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .logo{
      display: flex;
      max-width: 183px;
      height: 40px;
      text-align: left;
      align-content: center;
   }
   .tooth{
      max-width: 34px;
      height: 34px;
      margin-right: 3px;
   }
   .logo-text{
      height: 40px;
      font-family: 'Sofia';
      font-weight: 400;
      font-size: 16px;
      color: #46b1de;
   }
   .navigation{
      display: none;
   }
   .languages{
      display: none;
   }
   a{
      text-decoration-line: none;
      color: black;
   }
   .phone{
      height: 40px;
      font-size: 12px;
      font-weight: 400;
   }
   a.number::before{
      content: url(/src/img/phone.svg);
   }
   .burger-menu {
      display: block;
      width: 20px;
      height: 15px;
      position: relative;
      background: transparent;
      border: none;
   }
   .burger-menu span,
   .burger-menu::before,
   .burger-menu::after {
      content: "";
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
   }
   .burger-menu::before {
      top: 0;
      transition-duration: 0.2s;
   }
   .burger-menu::after {
      bottom: 0;
      transition-duration: 0.2s;
   }
   .burger-menu span {
      top: calc(50% - 1px);
   }
   .burger-menu:focus::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
      background-color: #46b1de;
   }
   .burger-menu:focus:after {
      top: calc(50% - 1px);
      transform: rotate(45deg);
      background-color: #46b1de;
   }
   .burger-menu:focus span {
      width: 0;
   }
   
   .burger-menu:hover span,
   .burger-menu:hover::before,
   .burger-menu:hover::after{
      background-color: #46b1de;
   }
   main {
      position:relative;
      margin-left: 18px;
      margin-right: 18px;
   }
   h1{
      text-transform: uppercase;
      white-space: pre-line;
      text-align: center;
      margin-top: 46px;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 0.1em;
      z-index: 1;
   }
   .blue-text{
      color: #46b1de;
   }
   h2{
      display: inline-block;
      white-space: pre-line;
      text-align: center;
      margin: 0px;
      font-size: 12px;
      font-weight: 100;
      padding-top: 5px;
      z-index: 1;
   }
   .call{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100px;
      height: 35px;
      padding: 16px 35px;
      gap: 10px;
      background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
      box-shadow: 0px 2px 10px #46B1DE;
      border-radius: 8px;
   }
   .main-title {
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 0.1em;
      animation-name: display-main-section;
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
   }
   @keyframes display-main-section {
   0% {
      margin-top: 150px;
      opacity: 0.5;
      }
      100% {
      margin-top: 0px;
      opacity: 1;
      }
   }
   .services{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 35px;
      gap: 10px;
      max-width: 100px;
      height: 35px;
      background: #FFFFFF;
      mix-blend-mode: normal;
      border: 1px solid #DDE0DC;
      box-shadow: 0px 2px 10px #DDE0DC;
      border-radius: 8px;
   }
   .main-link1{
      color: white;
   }
   .main-link2{
      color: #46b1de;
   }
   .buttons{
      display: flex;
      flex-direction: row;
      max-width: 284px;
      gap: 100px;
      padding-top: 10px;
   }
   .img-lady{
      position: absolute;
      max-width: 208px;
      height: 200px;
      right: 56px;
      top: 245px;
      z-index: 0;
   }
   .footer-1{
   display: none;
   }
   .second-screen{
      max-width: 320px;
   }
   .question{
      font-family: 'Roboto';
      font-weight: 400;
      text-align: center;
      margin-top: 15px;
      font-size: 22px;
      letter-spacing: 0.1em;
      margin-left: 18px;
      margin-right: 18px;
   }
   .answer{
      text-align: center;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-left: 18px;
      margin-right: 18px;
   }
   .main-2{
      background-color: #A1C7D4;
      border-radius: 12px;
      max-width: 320px;
      padding: 16px 20px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
   }
   .reasons{
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      max-width: 320px;
      justify-items: center;
      align-items: center;
      margin-bottom: 5px;
   }
   .number-01{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      color: #46b1de;
      margin: 5px;
   }
   .text-01{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #46b1de;
      text-align: left;
      margin: 5px;
      white-space: pre-line;
   }
   .common-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 12px;
      text-align: left;
      white-space: pre-line;
      margin: 10px;
   }
   .circle-box{
      position: relative;
      max-width: 1400;
      height: 800px;
   }
   .circle-text{
      display: flex;
      flex-direction: column;
      max-width: 380px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      white-space: pre-line;
      margin-bottom: 10px;
      margin-top: 10px;
   }
   .circle{
      display: none;
      margin: 0 auto ;
   }
   div.circle img{
      margin: 79px 70px 79px 70px;
   }
   .elipse{
      display: none;
   }
   .attention{
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
   }
   div.attention div {
      display: inline-block;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      color: #46B1DE;
      padding-top: 20px;
      padding-left: 16px;
      }
   .outside-box{
      max-width: 320px;
      border: 1px solid #D9D9D9;
      padding: 10px 9px 8px 15px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
   }
   .inside-box{
      max-width: 300px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      backdrop-filter: blur(2px);
      border-radius: 10px;
   }
   .inside-header{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 22px;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase;
   }
   .inside-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      margin-top: 7px;
      text-align: center;
   }
   .form{
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .input-box{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 233px;
      height: 57px;
      margin-top: 10px;
      background: rgba(217, 217, 217, 0.71);
      border-radius: 8px;
   }
   .input-box:focus{
      border: solid #46B1DE 2px;
   }
   .input-img{
      display: flex;   
      margin: 18px 10px 15px 10px;
      width: 22.15px;
      height: 24px;
   }
   input{
      width: 150px;
      height: 27px;
      display: flex;
      align-self: center;
      margin-left: 8px;
      background: rgba(217, 217, 217, 0.71);
      border:  rgba(217, 217, 217, 0.71);
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: rgba(27, 29, 31, 0.51);
   }
   .line{
      display: flex;
      margin: 14px 8px 13px 0px;
      width: 0px;
      height: 30px;   
      border: 0.5px solid #000000;
   }
   .sing-up{
      background: #46B1DE;
      width: 233px;
      height: 57px;
      margin-top: 10px;
      border-radius: 8px;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 19px;
      text-align: center;
      color: #FFFFFF;
   }
   .pictures{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin: 20px;
      max-width: 320px;
   }
   .footer-2{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 320px;
      height: 568px;
      background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
   }
   .tooth-2{
      display: flex;
      max-width: 320px;
      position: absolute;
      top: 30px;
   }
   .tooth2-img{
      max-width: 55px;
      height: 55px; 
      margin-right: 10px;
      margin-left: 10px;
   }
   .tooth2-text{
      font-family: 'Sofia';
      font-weight: 400;
      font-size: 27px;
      color: #0F2D4A;
      padding-left: 10px;
   }
   .tooth2-text-lower{
      font-size: 19px;
      margin-top: 0px;
   }
   .info{
      display: flex;
      flex-direction: column; 
      position: absolute;
      top: 116px;
      left: 10px;
      gap: 27px;
      font-size: 14px;
      font-family: 'Roboto';
   }
   .white:hover{
      color: #FFFFFF;
   }
   .schedule{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 142px;
      left: 180px;
      gap: 15px;
   }
   .contacts{
      display: flex;
      max-width: 320px;
      flex-direction: column;
      position: absolute;
      top: 250px;
      left: 12px;
      gap: 10px;
      color: #FFFFFF;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 21px;
      justify-content: space-around;
   }
   .contacts-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
   }
   .contacts-phone1, .contacts-phone2, .contacts-phone3{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
      display: inline-block;
      position: relative;
   }
   div.contacts-phone1::before{
      content: url(/src/img/phone.png);
   }
   div.contacts-phone2::before{
      content: url(/src/img/instagram.png);
   }
   div.contacts-phone3::before{
      content: url(/src/img/email.png);
   }
   .underlined::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: white;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
   }
   .underlined:hover::after{
      transform: scaleX(1);
   }
   .working-hours{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
   }
   .hours{
      font-family: 'Roboto';
      font-weight: 200;
      font-size: 14px;
      white-space: pre-line;
   }
   .copyright{
      position: absolute;
      left: 190px;
      top: 515px;
      font-family: 'Roboto';
      font-weight: 200;
      font-size: 12px;
      text-align: center;
      color: #FFFFFF;
   }
}
@media screen and (min-width: 992px) {
   .first-screen{
      background-image: url(/src/img/background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 60px;
      max-width: 1400px;
      height: 663px;
      margin: 0 auto;
   }
   .header{
      max-width: 1180px;
      height: 91px;
      display: flex;
      justify-content: space-between;
      margin-left: 110px;
      margin-right: 110px;
      align-items: center;
   }
   .logo{
      display: flex;
      max-width: 425.22px;
      height: 91px;
      text-align: left;
      align-content: center;
   }
   .tooth{
      max-width: 77.57px;
      height: 91px;
      margin-right: 7.43px;
   }
   .logo-text{
      height: 91px;
      font-family: 'Sofia';
      font-weight: 400;
      font-size: 38px;
      color: #46b1de;
   }
   .navigation{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 25px;
      max-width: 350px;
      text-align: center;
      font-size: 16px;
   }
   a{
      text-decoration-line: none;
      color: black;
   }
   a.link:hover{
      color: #46B1DE;
   }
   .number{
      margin-left: 10px;
   }
   .languages{
      display: block;
   }
   .language{
      font-weight: 600;
   }
   span.language::after{
      content: "|";
   }

   main{
      margin-left: 110px;
      margin-right: 110px;
      position:relative;
   }
   h1{
      text-transform: uppercase;
      white-space: pre-line;
      text-align: left;
      margin-top: 34px;
      font-weight: 700;
      font-size: 40px;
      letter-spacing: 0.1em;
      z-index: 1;
   }
   .blue-text{
      color: #46b1de;
   }
   h2{
      display: inline-block;
      white-space: pre-line;
      text-align: left;
      margin: 0px;
      height: 66px;
      font-size: 16px;
      padding-top: 30px;
      line-height: 22px;
      z-index: 1;
   }
   .call{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 180px;
      height: 60px;
      padding: 16px 35px;
      gap: 10px;
      background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
      box-shadow: 0px 2px 10px #46B1DE;
      border-radius: 8px;
   }
   .main-link1{
      color: white;
   }
   .main-link2{
      color: #46b1de;
   }
   .buttons{
      display: flex;
      flex-direction: row;
      gap: 120px;
      padding-top: 48px;
   }
   .services{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      padding: 16px 35px;
      gap: 10px;
      max-width: 180px;
      height: 60px;
      background: #FFFFFF;
      mix-blend-mode: normal;
      border: 1px solid #DDE0DC;
      box-shadow: 0px 2px 10px #DDE0DC;
      border-radius: 8px;
   }
   .img-lady{
      position: absolute;
      max-width: 572px;
      height: 500px;
      right: 0px;
      top: -20px;
      z-index: 0;
   }
   .footer-1{
      display: flex;
      gap: 70px;
      align-content: center;
      margin-left: 10%;
      margin-right: 20%;
      margin-top: 54px;
      /* max-width: 1150px; */
      height: 97px;
   }
   .footer-boxes{
      display: flex;
      flex-direction: row;
      width: 380px;
      height: 120px;
      background: #FFFFFF;
      border: 1px solid #D8E1E1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      position: relative;
      z-index: 1;
      position: relative;
      animation-name: display-boxes-section;
      animation-duration: 1.3s;
      animation-timing-function: ease-in-out;
   }
   @keyframes display-boxes-section {
      0% {
      margin-left: 50px;
      opacity: 0;
   }
   50% {
      margin-left: 50px;
      opacity: 0;
   }

   100% {
      margin-left: 130px;
      opacity: 1;
   }
   }
   .number-15{
      display: flex;
      align-items: center;
      color: #46b1de;
      font-size: 40px;
      margin: 15px;
   }
   .text-15{
      display: flex;
      white-space: pre-line;
      align-items: center;
      text-align: left;
   }
   .header-2{
      max-width: 652px;
      height: 44px;
      margin: 90px 394px 50px 365px;
   }
   .second-screen{
      max-width: 1400px;
      margin: 0 auto;
   }
   .question{
      margin: 90px 394px 5px 365px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 34px;
      line-height: 44px;
   }
   .answer{
      margin: 0px 394px 50px 394px;
      max-width: 612px;
      height: 44px;
      text-align: center;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
   }
   .main-2{
      background-color: #A1C7D4;
      border-radius: 12px;
      padding: 16px 20px;
      max-width: 1020px;
      height: 396px;
      margin: 0 190px 87px 190px;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
   }
   .reasons{
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      height: 176px;
   }
   .number-01{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      color: #46b1de;
      margin: 10px;
   }
   .text-01{
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #46b1de;
      text-align: left;
      margin: 9px;
      white-space: pre-line;
   }
   .common-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: left;
      white-space: pre-line;
      margin: 10px;
      height: 75px;
   }
   div.circles{
      height: 500px;
   }
   .circle-box{
      max-width: 950px;
      height: 300px;
      margin: 0px auto 30px auto;
   }
   .circle-text{
      max-width: 380px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      text-align: left;
      white-space: pre-line;
   }
   .circles{
      animation-name: animation-ellipses;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-delay: 5s;
   }
   .circle{
      display: block;
      position: absolute;
      top: 50px;
      left: 30%;
      width: 320px;
      height: 320px;
      border: #000000 1px solid;
      border-radius: 50%;
   }
   .c-1{
      position: absolute;
      text-align: right;
      top: 15px;
      left: -90px;
   }
   .c-2{
      position: absolute;
      top: 160px;
      left: -120px;
      text-align: right;
   }
   .c-3{
      position: absolute;
      top: 300px;
      left: -80px;
      text-align: right;
   }
   .c-4{
      position: absolute;
      top: 15px;
      right: -30px;
      text-align: left;
   }
   .c-5{
      position: absolute;
      top: 160px;
      right: -60px;
      text-align: left;
   }
   .c-6{
      position: absolute;
      top: 300px;
      right: -40px;
      text-align: left;
   }
   div.circle img{
      margin: 79px 70px 79px 70px;
   }
   .elipse{
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #46B1DE;
      padding-bottom: 4px;
      color: white;
      font-size: 24px;
      text-align: center;
   }
   .e-1{
      position: absolute;
      top: 80px;
      left: 330px;
   }
   .e-2{
      position: absolute;
      top: 190px;
      left: 270px;
   }
   .e-3{
      position: absolute;
      top: 310px;
      left: 330px;
   }
   .e-4{
      position: absolute;
      top: 80px;
      right: 380px;
   }
   .e-5{
      position: absolute;
      top: 190px;
      right: 330px;
   }
   .e-6{
      position: absolute;
      top: 310px;
      right: 370px;
   }

   @keyframes animation-ellipses-item {
      from {
         width: 0;
         height: 0;
      }

      to {
         width: 530px;
         height: 530px;
      }
      }

      @keyframes animation-ellipses {
      from {
         width: 0px;
         height: 0px;
      }

      to {
        width: 600px;
        height: 400px;
      }
    }
   .attention{
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
   }
   div.attention div {
      display: inline-block;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      color: #46B1DE;
      padding-top: 50px;
      padding-left: 16px;
      }
      div.attention{
         margin-top: 50px;
      }
   .outside-box{
      max-width: 845px;
      height: 265px;
      border: 1px solid #D9D9D9;
      margin: 87px 290px 90px 265px;
      padding: 10px 9px 8px 15px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
   }
   .inside-box{
      max-width: 821px;
      height: 247px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      backdrop-filter: blur(2px);
      border-radius: 10px;
   }
   .inside-header{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 32px;
      margin-top: 29px;
      text-align: center;
      text-transform: uppercase;
   }
   .inside-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 16px;
      margin-top: 7px;
      text-align: center;
   }
   .form{
      margin-top: 45px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }
   .input-box{
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 233px;
      height: 57px;
      background: rgba(217, 217, 217, 0.71);
      border-radius: 8px;
   }
   .input-img{
      display: flex;   
      margin: 18px 10px 15px 10px;
      width: 22.15px;
      height: 24px;
   }
   .line{
      display: flex;
      margin: 14px 8px 13px 0px;
      width: 0px;
      height: 30px;   
      border: 0.5px solid #000000;
   }
   input{
      width: 150px;
      height: 27px;
      display: flex;
      align-self: center;
      margin-left: 8px;
      background: rgba(217, 217, 217, 0.71);
      border:  rgba(217, 217, 217, 0.71);
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: rgba(27, 29, 31, 0.51);
   }
   .sing-up{
      background: #46B1DE;
      width: 233px;
      height: 57px;
      border-radius: 8px;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 19px;
      text-align: center;
      color: #FFFFFF;
   }
   .pictures{
      display: flex;
      gap: 69px;
      margin: 0px 223px 91px 198px;
      max-width: 979px;
   }
   .footer-2{
      position: relative;
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      height: 400px;
      background: linear-gradient(91.75deg, #A1C7D4 18.06%, #0680AA 98.16%);
   }
   .block-1{
      display: flex;
      max-width: 700px;
      height: 400px;
   }
   .block-2{
      display: flex;
      max-width: 700px;
      height: 400px;
   }
   .tooth-2{
      display: flex;
      max-width: 425.22px;
      height: 91px;
      position: absolute;
      top: 60px;
      left: 113px;
   }
   .tooth2-img{
      max-width: 77.57px;
      height: 80.56px; 
   }
   .tooth2-text{
      font-family: 'Sofia';
      font-weight: 400;
      font-size: 39px;
      color: #0F2D4A;
      padding-left: 10px;
   }
   .tooth2-text-lower{
      font-size: 28px;
      margin-top: 0px;
   }
   .contacts{
      display: flex;
      max-width: 300px;
      height: 300px;
      flex-direction: column;
      position: absolute;
      top: 60px;
      bottom: 40px;
      left: 916px;
      color: #FFFFFF;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 34px;
      line-height: 30px;
      justify-content: space-around;
   }
   .contacts-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
   }
   .contacts-phone{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
   }
   .info{
      display: flex;
      flex-direction: column; 
      position: absolute;
      top: 181px;
      left: 116px;
      gap: 27px;
      font-size: 20px;
      font-family: 'Roboto';
   }
   .schedule{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 218px;
      left: 355px;
      gap: 15px;
   }
   .working-hours{
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 20px;
   }
   .hours{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 20px;
      white-space: pre-line;
      line-height: 28px;
   }
   .copyright{
      position: absolute;
      left: 1125px;
      top: 372px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
      text-align: center;
      color: #FFFFFF;
   }   
}