@import "variables";
@keyframes animation-ellipses-item {
	from {
		width: 0;
		height: 0;
	}
	to {
		width: 530px;
		height: 530px;
	}
}
@keyframes animation-ellipses {
	from {
		width: 0px;
		height: 0px;
	}
	to {
		width: 600px;
		height: 400px;
	}
}

div.circles {
	height: 500px;
}
.circles {
	animation-name: animation-ellipses;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}
.c-1 {
	position: absolute;
	text-align: right;
	top: 15px;
	left: -90px;
}
.c-2 {
	position: absolute;
	top: 160px;
	left: -120px;
	text-align: right;
}
.c-3 {
	position: absolute;
	top: 300px;
	left: -80px;
	text-align: right;
}
.c-4 {
	position: absolute;
	top: 15px;
	right: -30px;
	text-align: left;
}
.c-5 {
	position: absolute;
	top: 160px;
	right: -60px;
	text-align: left;
}
.c-6 {
	position: absolute;
	top: 300px;
	right: -40px;
	text-align: left;
}
.e-1 {
	position: absolute;
	top: 80px;
	left: 330px;
}
.e-2 {
	position: absolute;
	top: 190px;
	left: 270px;
}
.e-3 {
	position: absolute;
	top: 310px;
	left: 330px;
}
.e-4 {
	position: absolute;
	top: 80px;
	right: 380px;
}
.e-5 {
	position: absolute;
	top: 190px;
	right: 330px;
}
.e-6 {
	position: absolute;
	top: 310px;
	right: 370px;
}
.footer-boxes {
	display: flex;
	flex-direction: row;
	width: 380px;
	height: 120px;
	background: #FFFFFF;
	border: 1px solid #D8E1E1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	position: relative;
	z-index: 1;
	position: relative;
	animation-name: display-boxes-section;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}
@keyframes 
	display-boxes-section {
		0% { margin-left: 50px;
		opacity: 0;
	}
		
	50% {
		margin-left: 50px;
		opacity: 0;
	}
	100% {
		margin-left: 130px;
		opacity: 1;
	}
}