$color_1: #46b1de;
$color_2: black;
$color_3: white;
$color_4: #46B1DE;
$color_5: rgba(27, 29, 31, 0.51);
$color_6: #FFFFFF;
$color_7: #0F2D4A;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Sofia';
$font-family_3: 'Roboto';
$background-color_1: black;
$background-color_2: #46b1de;
$background-color_3: #A1C7D4;
$background-color_4: white;
$background-color_5: #46B1DE;
