.main-2 {
  background-color: #A1C7D4;
  border-radius: 12px;
  max-width: 320px;
  padding: 16px 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #A1C7D4;
  border-radius: 12px;
  padding: 16px 20px;
  max-width: 1020px;
  height: 396px;
  margin: 0 190px 87px 190px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.reasons {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  justify-items: center;
  align-items: center;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  height: 176px;
}

.number-01 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #46b1de;
  margin: 5px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #46b1de;
  margin: 10px;
}

.text-01 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #46b1de;
  text-align: left;
  margin: 5px;
  white-space: pre-line;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #46b1de;
  text-align: left;
  margin: 9px;
  white-space: pre-line;
}

.common-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  white-space: pre-line;
  margin: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  white-space: pre-line;
  margin: 10px;
  height: 75px;
}

.circle-box {
  position: relative;
  max-width: 1400;
  height: 800px;
  max-width: 950px;
  height: 300px;
  margin: 0px auto 30px auto;
}

.circle-text {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  white-space: pre-line;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 380px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  white-space: pre-line;
}

.circle {
  display: none;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50px;
  left: 30%;
  width: 320px;
  height: 320px;
  border: #000000 1px solid;
  border-radius: 50%;
}

div.circle img {
  margin: 79px 70px 79px 70px;
  margin: 79px 70px 79px 70px;
}

.elipse {
  display: none;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #46B1DE;
  padding-bottom: 4px;
  color: white;
  font-size: 24px;
  text-align: center;
}